In [91]:
# Step 1: Connect to the ZKTeco device and retrieve attendance data
import sys
import os
from zk import ZK

In [72]:
# Connect to ZKTeco device
zk_ip_address = '182.176.178.62'

# Connect to ZKTeco device
zk = ZK(zk_ip_address, port=4370, timeout=5, password=0, force_udp=False, ommit_ping=False)
conn = zk.connect()

In [73]:
# Get attendances
attendances = conn.get_attendance()

In [74]:
attendances

[<Attendance>: 1 : 2023-07-24 12:48:56 (15, 0),
 <Attendance>: 1 : 2023-07-24 12:54:30 (15, 0),
 <Attendance>: 1 : 2023-07-24 14:48:47 (15, 0),
 <Attendance>: 1 : 2023-07-24 14:58:51 (15, 0),
 <Attendance>: 1 : 2023-07-24 15:11:04 (15, 0),
 <Attendance>: 2 : 2023-08-09 14:03:50 (15, 0),
 <Attendance>: 1 : 2023-08-15 11:48:58 (15, 0),
 <Attendance>: 1 : 2023-08-16 10:07:16 (15, 0),
 <Attendance>: 1 : 2023-08-16 10:50:11 (15, 0),
 <Attendance>: 1 : 2023-08-16 11:18:20 (1, 0),
 <Attendance>: 11 : 2023-08-16 11:34:04 (1, 0),
 <Attendance>: 12 : 2023-08-16 11:53:39 (1, 0),
 <Attendance>: 1 : 2023-08-16 18:00:37 (15, 0),
 <Attendance>: 11 : 2023-08-17 09:34:20 (1, 0),
 <Attendance>: 12 : 2023-08-17 10:20:34 (1, 0),
 <Attendance>: 1 : 2023-08-17 17:57:40 (15, 0),
 <Attendance>: 11 : 2023-08-18 09:37:52 (1, 0),
 <Attendance>: 12 : 2023-08-18 10:24:24 (1, 0),
 <Attendance>: 12 : 2023-08-18 18:54:56 (1, 0),
 <Attendance>: 11 : 2023-08-21 09:38:03 (1, 0),
 <Attendance>: 12 : 2023-08-21 10:04:45 (1, 0),
 <Attendance>: 1 : 2023-08-21 13:21:15 (1, 0),
 <Attendance>: 12 : 2023-08-21 19:01:50 (1, 1),
 <Attendance>: 11 : 2023-08-21 19:01:56 (1, 1),
 <Attendance>: 11 : 2023-08-22 09:44:31 (1, 0),
 <Attendance>: 12 : 2023-08-22 10:18:05 (1, 0),
 <Attendance>: 1 : 2023-08-22 10:29:34 (15, 0),
 <Attendance>: 12 : 2023-08-22 18:48:47 (1, 1),
 <Attendance>: 11 : 2023-08-22 18:49:16 (1, 1),
 <Attendance>: 11 : 2023-08-23 09:47:15 (1, 0),
 <Attendance>: 1 : 2023-08-23 10:36:03 (15, 0),
 <Attendance>: 12 : 2023-08-23 10:36:08 (1, 0),
 <Attendance>: 12 : 2023-08-23 19:04:13 (1, 1),
 <Attendance>: 11 : 2023-08-23 19:04:23 (1, 1),
 <Attendance>: 11 : 2023-08-24 09:45:41 (1, 0),
 <Attendance>: 12 : 2023-08-24 10:11:11 (1, 0),
 <Attendance>: 11 : 2023-08-24 18:57:05 (1, 1),
 <Attendance>: 11 : 2023-08-25 09:53:09 (1, 0),
 <Attendance>: 12 : 2023-08-25 10:17:49 (1, 0),
 <Attendance>: 11 : 2023-08-25 18:56:20 (1, 1),
 <Attendance>: 12 : 2023-08-25 18:56:28 (1, 1),
 <Attendance>: 11 : 2023-08-28 09:57:13 (1, 0),
 <Attendance>: 12 : 2023-08-28 10:44:37 (1, 0),
 <Attendance>: 11 : 2023-08-28 18:53:06 (1, 1),
 <Attendance>: 12 : 2023-08-28 18:53:16 (1, 1),
 <Attendance>: 11 : 2023-08-29 09:51:51 (1, 0),
 <Attendance>: 12 : 2023-08-29 10:15:46 (1, 0),
 <Attendance>: 11 : 2023-08-29 18:56:02 (1, 1),
 <Attendance>: 12 : 2023-08-29 18:56:09 (1, 1),
 <Attendance>: 11 : 2023-08-30 09:55:01 (1, 0),
 <Attendance>: 12 : 2023-08-30 10:21:40 (1, 0),
 <Attendance>: 13 : 2023-08-30 12:27:35 (1, 0),
 <Attendance>: 11 : 2023-08-30 18:54:17 (1, 1),
 <Attendance>: 12 : 2023-08-30 18:54:26 (1, 1),
 <Attendance>: 13 : 2023-08-30 19:02:07 (1, 1),
 <Attendance>: 13 : 2023-08-31 09:16:16 (1, 0),
 <Attendance>: 11 : 2023-08-31 10:05:17 (1, 0),
 <Attendance>: 1 : 2023-08-31 10:23:16 (15, 0),
 <Attendance>: 12 : 2023-08-31 10:46:10 (1, 0),
 <Attendance>: 11 : 2023-08-31 19:01:52 (1, 1),
 <Attendance>: 12 : 2023-08-31 19:02:01 (1, 1),
 <Attendance>: 11 : 2023-09-01 09:53:03 (1, 0),
 <Attendance>: 1 : 2023-09-01 10:02:42 (15, 0),
 <Attendance>: 12 : 2023-09-01 10:13:03 (1, 0),
 <Attendance>: 12 : 2023-09-01 18:21:47 (1, 1),
 <Attendance>: 12 : 2023-09-01 18:23:24 (1, 1),
 <Attendance>: 1 : 2023-09-01 18:23:32 (1, 1),
 <Attendance>: 12 : 2023-09-01 18:25:43 (1, 1),
 <Attendance>: 14 : 2023-09-01 18:42:44 (1, 1),
 <Attendance>: 15 : 2023-09-01 18:45:59 (1, 1),
 <Attendance>: 16 : 2023-09-01 18:49:41 (1, 1),
 <Attendance>: 12 : 2023-09-01 18:58:18 (1, 1),
 <Attendance>: 11 : 2023-09-01 18:58:25 (1, 1),
 <Attendance>: 15 : 2023-09-01 18:58:50 (1, 1),
 <Attendance>: 16 : 2023-09-01 18:58:58 (1, 1),
 <Attendance>: 11 : 2023-09-04 09:49:41 (1, 0),
 <Attendance>: 15 : 2023-09-04 09:49:49 (1, 0),
 <Attendance>: 16 : 2023-09-04 09:57:59 (1, 0),
 <Attendance>: 14 : 2023-09-04 10:08:44 (1, 0),
 <Attendance>: 12 : 2023-09-04 10:09:16 (1, 0),
 <Attendance>: 1 : 2023-09-04 10:09:23 (15, 0),
 <Attendance>: 16 : 2023-09-04 16:18:42 (1, 0),
 <Attendance>: 16 : 2023-09-04 17:05:11 (1, 0),
 <Attendance>: 12 : 2023-09-04 18:57:01 (1, 0),
 <Attendance>: 11 : 2023-09-04 18:57:08 (1, 0),
 <Attendance>: 15 : 2023-09-04 18:57:19 (1, 0),
 <Attendance>: 14 : 2023-09-04 18:57:51 (1, 0),
 <Attendance>: 12 : 2023-09-04 18:58:02 (1, 0),
 <Attendance>: 16 : 2023-09-04 18:58:32 (1, 0),
 <Attendance>: 11 : 2023-09-05 10:00:55 (1, 0),
 <Attendance>: 16 : 2023-09-05 10:04:35 (1, 0),
 <Attendance>: 15 : 2023-09-05 10:04:38 (1, 0),
 <Attendance>: 12 : 2023-09-05 10:14:14 (1, 0),
 <Attendance>: 14 : 2023-09-05 10:14:18 (1, 0),
 <Attendance>: 16 : 2023-09-05 11:16:23 (1, 0),
 <Attendance>: 1 : 2023-09-05 14:09:46 (1, 0),
 <Attendance>: 14 : 2023-09-05 15:18:34 (1, 0),
 <Attendance>: 1 : 2023-09-05 15:21:05 (1, 0),
 <Attendance>: 17 : 2023-09-05 15:23:00 (15, 0),
 <Attendance>: 12 : 2023-09-05 17:37:10 (1, 0),
 <Attendance>: 12 : 2023-09-05 19:05:08 (1, 0),
 <Attendance>: 12 : 2023-09-05 19:06:23 (1, 0),
 <Attendance>: 11 : 2023-09-05 19:06:27 (1, 0),
 <Attendance>: 15 : 2023-09-05 19:06:38 (1, 0),
 <Attendance>: 14 : 2023-09-05 19:07:11 (1, 0),
 <Attendance>: 17 : 2023-09-05 19:12:11 (15, 0),
 <Attendance>: 17 : 2023-09-06 09:51:02 (1, 0),
 <Attendance>: 11 : 2023-09-06 09:53:31 (1, 0),
 <Attendance>: 16 : 2023-09-06 10:05:36 (1, 0),
 <Attendance>: 15 : 2023-09-06 10:05:40 (1, 0),
 <Attendance>: 12 : 2023-09-06 10:18:13 (1, 0),
 <Attendance>: 1 : 2023-09-06 10:18:17 (1, 0),
 <Attendance>: 14 : 2023-09-06 10:56:29 (1, 0),
 <Attendance>: 13 : 2023-09-06 13:04:05 (1, 0),
 <Attendance>: 12 : 2023-09-06 19:03:39 (1, 0),
 <Attendance>: 11 : 2023-09-06 19:03:44 (1, 0),
 <Attendance>: 14 : 2023-09-06 19:03:47 (1, 0),
 <Attendance>: 15 : 2023-09-06 19:03:55 (1, 0),
 <Attendance>: 17 : 2023-09-06 19:03:59 (15, 0),
 <Attendance>: 16 : 2023-09-06 19:04:04 (1, 0),
 <Attendance>: 13 : 2023-09-06 19:08:33 (1, 1),
 <Attendance>: 11 : 2023-09-07 09:53:08 (1, 0),
 <Attendance>: 15 : 2023-09-07 09:53:12 (1, 0),
 <Attendance>: 16 : 2023-09-07 10:07:14 (1, 0),
 <Attendance>: 17 : 2023-09-07 10:07:19 (15, 0),
 <Attendance>: 12 : 2023-09-07 10:17:26 (1, 0),
 <Attendance>: 14 : 2023-09-07 10:36:35 (1, 0),
 <Attendance>: 1 : 2023-09-07 10:49:33 (15, 0),
 <Attendance>: 14 : 2023-09-07 12:18:11 (1, 0),
 <Attendance>: 14 : 2023-09-07 12:44:57 (1, 0),
 <Attendance>: 12 : 2023-09-07 15:39:01 (1, 0),
 <Attendance>: 12 : 2023-09-07 15:41:15 (1, 0),
 <Attendance>: 14 : 2023-09-07 15:42:03 (1, 0),
 <Attendance>: 14 : 2023-09-07 15:51:15 (1, 0),
 <Attendance>: 12 : 2023-09-07 15:51:58 (1, 0),
 <Attendance>: 12 : 2023-09-07 16:00:02 (1, 0),
 <Attendance>: 14 : 2023-09-07 16:22:07 (1, 0),
 <Attendance>: 15 : 2023-09-07 19:08:54 (1, 0),
 <Attendance>: 1 : 2023-09-07 19:12:17 (1, 0),
 <Attendance>: 12 : 2023-09-07 19:12:21 (1, 0),
 <Attendance>: 11 : 2023-09-07 19:12:24 (1, 0),
 <Attendance>: 16 : 2023-09-07 19:12:27 (1, 0),
 <Attendance>: 14 : 2023-09-07 19:12:35 (1, 0),
 <Attendance>: 17 : 2023-09-07 19:12:43 (15, 0),
 <Attendance>: 13 : 2023-09-07 19:13:44 (1, 0),
 <Attendance>: 16 : 2023-09-08 09:49:42 (1, 0),
 <Attendance>: 11 : 2023-09-08 09:55:24 (1, 0),
 <Attendance>: 15 : 2023-09-08 10:14:48 (1, 0),
 <Attendance>: 12 : 2023-09-08 10:15:58 (1, 0),
 <Attendance>: 17 : 2023-09-08 10:23:48 (15, 0),
 <Attendance>: 14 : 2023-09-08 10:29:41 (1, 0),
 <Attendance>: 15 : 2023-09-08 19:22:02 (1, 0),
 <Attendance>: 14 : 2023-09-08 19:22:15 (1, 0),
 <Attendance>: 12 : 2023-09-08 19:22:49 (1, 0),
 <Attendance>: 11 : 2023-09-08 19:22:56 (1, 0),
 <Attendance>: 17 : 2023-09-08 19:23:01 (15, 0),
 <Attendance>: 16 : 2023-09-08 19:23:30 (1, 0),
 <Attendance>: 17 : 2023-09-11 09:45:30 (15, 0),
 <Attendance>: 11 : 2023-09-11 09:56:43 (1, 0),
 <Attendance>: 16 : 2023-09-11 10:10:59 (1, 0),
 <Attendance>: 12 : 2023-09-11 10:11:08 (1, 0),
 <Attendance>: 15 : 2023-09-11 10:23:49 (1, 0),
 <Attendance>: 14 : 2023-09-11 10:31:41 (1, 0),
 <Attendance>: 1 : 2023-09-11 11:49:27 (15, 0),
 <Attendance>: 12 : 2023-09-11 19:07:17 (1, 0),
 <Attendance>: 11 : 2023-09-11 19:07:24 (1, 0),
 <Attendance>: 14 : 2023-09-11 19:07:31 (1, 0),
 <Attendance>: 15 : 2023-09-11 19:07:35 (1, 0),
 <Attendance>: 1 : 2023-09-11 19:08:27 (1, 0),
 <Attendance>: 16 : 2023-09-11 19:12:58 (1, 0),
 <Attendance>: 17 : 2023-09-11 19:13:02 (15, 0),
 <Attendance>: 17 : 2023-09-12 09:38:17 (1, 0),
 <Attendance>: 11 : 2023-09-12 09:55:38 (1, 0),
 <Attendance>: 14 : 2023-09-12 10:01:34 (1, 0),
 <Attendance>: 12 : 2023-09-12 10:09:56 (1, 0),
 <Attendance>: 15 : 2023-09-12 10:12:54 (1, 0),
 <Attendance>: 16 : 2023-09-12 11:21:14 (1, 0),
 <Attendance>: 11 : 2023-09-12 19:08:34 (1, 1),
 <Attendance>: 12 : 2023-09-12 19:08:52 (1, 1),
 <Attendance>: 14 : 2023-09-12 19:08:58 (1, 1),
 <Attendance>: 15 : 2023-09-12 19:09:24 (1, 1),
 <Attendance>: 16 : 2023-09-12 19:13:39 (1, 1),
 <Attendance>: 17 : 2023-09-12 19:13:43 (1, 1),
 <Attendance>: 11 : 2023-09-13 09:56:27 (1, 0),
 <Attendance>: 16 : 2023-09-13 09:58:08 (1, 0),
 <Attendance>: 12 : 2023-09-13 10:05:51 (1, 0),
 <Attendance>: 15 : 2023-09-13 10:08:48 (1, 0),
 <Attendance>: 14 : 2023-09-13 10:19:58 (1, 0),
 <Attendance>: 17 : 2023-09-13 11:01:00 (1, 0),
 <Attendance>: 15 : 2023-09-13 19:11:59 (1, 0),
 <Attendance>: 14 : 2023-09-13 19:12:03 (1, 0),
 <Attendance>: 12 : 2023-09-13 19:12:10 (1, 0),
 <Attendance>: 11 : 2023-09-13 19:12:19 (1, 0),
 <Attendance>: 16 : 2023-09-13 19:13:26 (1, 0),
 <Attendance>: 17 : 2023-09-13 19:13:31 (1, 0),
 <Attendance>: 11 : 2023-09-14 09:47:44 (1, 0),
 <Attendance>: 17 : 2023-09-14 09:47:48 (1, 0),
 <Attendance>: 12 : 2023-09-14 10:05:21 (1, 0),
 <Attendance>: 15 : 2023-09-14 10:05:29 (1, 0),
 <Attendance>: 14 : 2023-09-14 10:05:33 (1, 0),
 <Attendance>: 16 : 2023-09-14 10:09:42 (1, 0),
 <Attendance>: 16 : 2023-09-14 13:38:37 (1, 1),
 <Attendance>: 16 : 2023-09-14 13:40:25 (1, 0),
 <Attendance>: 15 : 2023-09-14 19:16:29 (1, 0),
 <Attendance>: 14 : 2023-09-14 19:16:38 (1, 0),
 <Attendance>: 12 : 2023-09-14 19:17:07 (1, 0),
 <Attendance>: 11 : 2023-09-14 19:17:10 (1, 0),
 <Attendance>: 16 : 2023-09-14 19:26:11 (1, 1),
 <Attendance>: 17 : 2023-09-14 19:26:14 (1, 1),
 <Attendance>: 17 : 2023-09-15 09:46:31 (1, 0),
 <Attendance>: 11 : 2023-09-15 09:51:04 (1, 0),
 <Attendance>: 16 : 2023-09-15 09:55:55 (1, 0),
 <Attendance>: 14 : 2023-09-15 10:08:42 (1, 0),
 <Attendance>: 15 : 2023-09-15 10:08:47 (1, 0),
 <Attendance>: 12 : 2023-09-15 10:13:55 (1, 0),
 <Attendance>: 1 : 2023-09-15 11:47:24 (1, 0),
 <Attendance>: 16 : 2023-09-15 12:41:32 (1, 1),
 <Attendance>: 16 : 2023-09-15 12:45:00 (1, 0),
 <Attendance>: 12 : 2023-09-15 19:05:34 (1, 0),
 <Attendance>: 17 : 2023-09-15 19:05:52 (1, 1),
 <Attendance>: 1 : 2023-09-15 19:14:31 (1, 1),
 <Attendance>: 14 : 2023-09-15 19:15:25 (1, 1),
 <Attendance>: 15 : 2023-09-15 19:15:29 (1, 1),
 <Attendance>: 11 : 2023-09-15 19:28:59 (1, 1),
 <Attendance>: 16 : 2023-09-15 19:32:24 (1, 1),
 <Attendance>: 16 : 2023-09-15 19:39:25 (1, 0),
 <Attendance>: 16 : 2023-09-15 19:52:48 (1, 1),
 <Attendance>: 11 : 2023-09-18 09:51:52 (1, 0),
 <Attendance>: 1 : 2023-09-18 09:55:21 (1, 0),
 <Attendance>: 1 : 2023-09-18 09:57:00 (1, 0),
 <Attendance>: 15 : 2023-09-18 10:04:28 (1, 0),
 <Attendance>: 12 : 2023-09-18 10:13:25 (1, 0),
 <Attendance>: 16 : 2023-09-18 10:22:11 (1, 0),
 <Attendance>: 14 : 2023-09-18 11:15:34 (1, 0),
 <Attendance>: 1 : 2023-09-18 11:49:54 (1, 0),
 <Attendance>: 12 : 2023-09-18 19:14:24 (1, 0),
 <Attendance>: 14 : 2023-09-18 19:14:43 (1, 0),
 <Attendance>: 15 : 2023-09-18 20:08:15 (1, 0),
 <Attendance>: 11 : 2023-09-18 20:11:37 (1, 0),
 <Attendance>: 16 : 2023-09-18 20:11:39 (1, 0),
 <Attendance>: 11 : 2023-09-19 09:55:49 (1, 0),
 <Attendance>: 16 : 2023-09-19 10:05:33 (1, 0),
 <Attendance>: 14 : 2023-09-19 10:08:03 (1, 0),
 <Attendance>: 12 : 2023-09-19 10:22:23 (1, 0),
 <Attendance>: 15 : 2023-09-19 16:12:36 (1, 0),
 <Attendance>: 12 : 2023-09-19 19:18:25 (1, 0),
 <Attendance>: 14 : 2023-09-19 19:18:31 (1, 0),
 <Attendance>: 16 : 2023-09-19 19:27:20 (1, 0),
 <Attendance>: 11 : 2023-09-19 19:27:28 (1, 0),
 <Attendance>: 15 : 2023-09-19 21:38:44 (1, 0),
 <Attendance>: 13 : 2023-09-19 21:39:02 (1, 0),
 <Attendance>: 16 : 2023-09-20 09:51:46 (1, 0),
 <Attendance>: 11 : 2023-09-20 09:55:43 (1, 0),
 <Attendance>: 14 : 2023-09-20 10:09:52 (1, 0),
 <Attendance>: 15 : 2023-09-20 10:10:08 (1, 0),
 <Attendance>: 12 : 2023-09-20 10:15:19 (1, 0),
 <Attendance>: 12 : 2023-09-20 19:41:05 (1, 0),
 <Attendance>: 16 : 2023-09-20 19:41:07 (1, 0),
 <Attendance>: 14 : 2023-09-20 19:41:10 (1, 0),
 <Attendance>: 11 : 2023-09-20 19:41:15 (1, 0),
 <Attendance>: 15 : 2023-09-20 19:41:19 (1, 0),
 <Attendance>: 11 : 2023-09-21 09:54:01 (1, 0),
 <Attendance>: 16 : 2023-09-21 10:01:41 (1, 0),
 <Attendance>: 14 : 2023-09-21 10:15:11 (1, 0),
 <Attendance>: 12 : 2023-09-21 10:20:20 (1, 0),
 <Attendance>: 15 : 2023-09-21 14:33:06 (1, 0),
 <Attendance>: 12 : 2023-09-21 20:47:43 (1, 1),
 <Attendance>: 11 : 2023-09-21 20:47:47 (1, 1),
 <Attendance>: 14 : 2023-09-21 20:48:23 (1, 1),
 <Attendance>: 16 : 2023-09-21 21:15:04 (1, 1),
 <Attendance>: 15 : 2023-09-21 22:00:03 (1, 1),
 <Attendance>: 13 : 2023-09-21 22:00:15 (1, 1),
 <Attendance>: 13 : 2023-09-22 09:15:44 (1, 0),
 <Attendance>: 16 : 2023-09-22 09:59:50 (1, 0),
 <Attendance>: 11 : 2023-09-22 10:15:04 (1, 0),
 <Attendance>: 12 : 2023-09-22 10:29:02 (1, 0),
 <Attendance>: 14 : 2023-09-22 11:45:39 (1, 0),
 <Attendance>: 15 : 2023-09-22 12:02:07 (1, 0),
 <Attendance>: 12 : 2023-09-22 20:29:55 (1, 0),
 <Attendance>: 11 : 2023-09-22 20:29:59 (1, 0),
 <Attendance>: 14 : 2023-09-22 20:30:10 (1, 0),
 <Attendance>: 16 : 2023-09-22 20:37:07 (1, 0),
 <Attendance>: 15 : 2023-09-22 20:37:14 (1, 0),
 <Attendance>: 12 : 2023-09-25 10:01:23 (1, 0),
 <Attendance>: 16 : 2023-09-25 10:01:36 (1, 0),
 <Attendance>: 11 : 2023-09-25 10:01:38 (1, 0),
 <Attendance>: 17 : 2023-09-25 10:04:55 (1, 0),
 <Attendance>: 14 : 2023-09-25 10:14:45 (1, 0),
 <Attendance>: 15 : 2023-09-25 11:13:51 (1, 0),
 <Attendance>: 1 : 2023-09-25 11:35:41 (1, 0),
 <Attendance>: 1 : 2023-09-25 18:09:53 (1, 0),
 <Attendance>: 17 : 2023-09-25 19:25:31 (1, 0),
 <Attendance>: 11 : 2023-09-25 19:27:58 (1, 0),
 <Attendance>: 14 : 2023-09-25 19:37:31 (1, 0),
 <Attendance>: 12 : 2023-09-25 20:09:56 (1, 0),
 <Attendance>: 15 : 2023-09-25 20:15:03 (1, 0),
 <Attendance>: 16 : 2023-09-25 20:47:31 (1, 1),
 <Attendance>: 11 : 2023-09-26 10:01:05 (1, 0),
 <Attendance>: 12 : 2023-09-26 10:06:17 (1, 0),
 <Attendance>: 16 : 2023-09-26 10:08:09 (1, 0),
 <Attendance>: 14 : 2023-09-26 10:11:26 (1, 0),
 <Attendance>: 1 : 2023-09-26 10:51:33 (1, 0),
 <Attendance>: 18 : 2023-09-26 13:13:45 (1, 0),
 <Attendance>: 19 : 2023-09-26 13:17:42 (1, 0),
 <Attendance>: 1 : 2023-09-26 14:17:12 (1, 0),
 <Attendance>: 15 : 2023-09-26 15:43:56 (1, 0),
 <Attendance>: 1 : 2023-09-26 17:38:51 (1, 0),
 <Attendance>: 1 : 2023-09-26 18:05:55 (15, 0),
 <Attendance>: 12 : 2023-09-26 20:33:11 (1, 0),
 <Attendance>: 19 : 2023-09-26 20:33:14 (1, 0),
 <Attendance>: 16 : 2023-09-26 20:33:23 (1, 1),
 <Attendance>: 11 : 2023-09-26 20:33:26 (1, 1),
 <Attendance>: 14 : 2023-09-26 20:33:31 (1, 1),
 <Attendance>: 1 : 2023-09-26 20:33:33 (1, 1),
 <Attendance>: 18 : 2023-09-26 20:33:39 (1, 1),
 <Attendance>: 15 : 2023-09-26 20:33:45 (1, 1),
 <Attendance>: 18 : 2023-09-27 09:50:21 (1, 0),
 <Attendance>: 11 : 2023-09-27 09:56:01 (1, 0),
 <Attendance>: 12 : 2023-09-27 10:12:52 (1, 0),
 <Attendance>: 14 : 2023-09-27 10:16:54 (1, 0),
 <Attendance>: 19 : 2023-09-27 10:17:08 (1, 0),
 <Attendance>: 16 : 2023-09-27 10:19:41 (1, 0),
 <Attendance>: 15 : 2023-09-27 10:24:37 (1, 0),
 <Attendance>: 1 : 2023-09-27 11:12:18 (1, 0),
 <Attendance>: 1 : 2023-09-27 13:41:42 (1, 1),
 <Attendance>: 1 : 2023-09-27 19:10:20 (1, 1),
 <Attendance>: 19 : 2023-09-27 19:53:58 (1, 1),
 <Attendance>: 12 : 2023-09-27 19:54:13 (1, 1),
 <Attendance>: 11 : 2023-09-27 19:54:18 (1, 1),
 <Attendance>: 14 : 2023-09-27 19:54:22 (1, 1),
 <Attendance>: 16 : 2023-09-27 20:07:16 (1, 1),
 <Attendance>: 15 : 2023-09-27 20:07:23 (1, 1),
 <Attendance>: 18 : 2023-09-27 20:10:47 (1, 1),
 <Attendance>: 18 : 2023-09-28 09:51:13 (1, 0),
 <Attendance>: 11 : 2023-09-28 10:04:07 (1, 0),
 <Attendance>: 16 : 2023-09-28 10:11:47 (1, 0),
 <Attendance>: 12 : 2023-09-28 10:14:21 (1, 0),
 <Attendance>: 14 : 2023-09-28 10:14:23 (1, 0),
 <Attendance>: 1 : 2023-09-28 10:23:09 (1, 0),
 <Attendance>: 19 : 2023-09-28 10:46:22 (1, 0),
 <Attendance>: 15 : 2023-09-28 13:10:41 (1, 0),
 <Attendance>: 19 : 2023-09-28 20:41:45 (1, 0),
 <Attendance>: 1 : 2023-09-28 20:41:47 (1, 0),
 <Attendance>: 11 : 2023-09-28 20:42:58 (1, 0),
 <Attendance>: 14 : 2023-09-28 20:43:02 (1, 0),
 <Attendance>: 18 : 2023-09-28 20:43:07 (1, 0),
 <Attendance>: 12 : 2023-09-28 20:43:10 (1, 0),
 <Attendance>: 16 : 2023-09-28 20:57:14 (1, 1),
 <Attendance>: 12 : 2023-09-28 20:57:29 (1, 1),
 <Attendance>: 15 : 2023-09-28 21:27:21 (1, 1),
 <Attendance>: 1 : 2023-10-02 09:04:14 (1, 0),
 <Attendance>: 11 : 2023-10-02 09:59:17 (1, 0),
 <Attendance>: 18 : 2023-10-02 09:59:27 (1, 0),
 <Attendance>: 12 : 2023-10-02 10:17:29 (1, 0),
 <Attendance>: 14 : 2023-10-02 10:20:25 (1, 0),
 <Attendance>: 19 : 2023-10-02 10:31:34 (1, 0),
 <Attendance>: 16 : 2023-10-02 10:41:03 (1, 0),
 <Attendance>: 15 : 2023-10-02 11:59:00 (1, 0),
 <Attendance>: 17 : 2023-10-02 16:30:49 (1, 0),
 <Attendance>: 12 : 2023-10-02 19:09:23 (1, 0),
 <Attendance>: 19 : 2023-10-02 19:09:27 (1, 0),
 <Attendance>: 14 : 2023-10-02 19:09:33 (1, 0),
 <Attendance>: 18 : 2023-10-02 19:51:24 (1, 0),
 <Attendance>: 17 : 2023-10-02 21:08:41 (15, 0),
 <Attendance>: 16 : 2023-10-02 21:15:36 (1, 1),
 <Attendance>: 11 : 2023-10-02 21:15:39 (1, 1),
 <Attendance>: 15 : 2023-10-02 21:15:41 (1, 1),
 <Attendance>: 17 : 2023-10-03 09:33:30 (1, 0),
 <Attendance>: 11 : 2023-10-03 09:56:44 (1, 0),
 <Attendance>: 16 : 2023-10-03 10:01:09 (1, 0),
 <Attendance>: 18 : 2023-10-03 10:01:13 (1, 0),
 <Attendance>: 12 : 2023-10-03 10:08:43 (1, 0),
 <Attendance>: 19 : 2023-10-03 10:13:37 (1, 0),
 <Attendance>: 14 : 2023-10-03 10:14:45 (1, 0),
 <Attendance>: 1 : 2023-10-03 12:56:57 (1, 0),
 <Attendance>: 15 : 2023-10-03 15:57:58 (1, 0),
 <Attendance>: 20 : 2023-10-03 17:28:36 (1, 0),
 <Attendance>: 21 : 2023-10-03 17:31:32 (1, 0),
 <Attendance>: 20 : 2023-10-03 19:01:14 (1, 0),
 <Attendance>: 16 : 2023-10-03 20:43:05 (1, 1),
 <Attendance>: 14 : 2023-10-03 20:43:13 (1, 1),
 <Attendance>: 21 : 2023-10-03 20:43:17 (1, 1),
 <Attendance>: 11 : 2023-10-03 20:43:20 (1, 1),
 <Attendance>: 18 : 2023-10-03 20:43:24 (1, 1),
 <Attendance>: 19 : 2023-10-03 20:43:32 (1, 1),
 <Attendance>: 12 : 2023-10-03 20:43:36 (1, 1),
 <Attendance>: 17 : 2023-10-03 20:44:20 (1, 1),
 <Attendance>: 15 : 2023-10-03 21:49:58 (1, 1),
 <Attendance>: 20 : 2023-10-04 09:40:15 (1, 0),
 <Attendance>: 11 : 2023-10-04 09:55:22 (1, 0),
 <Attendance>: 18 : 2023-10-04 10:02:59 (1, 0),
 <Attendance>: 21 : 2023-10-04 10:03:03 (1, 0),
 <Attendance>: 12 : 2023-10-04 10:10:46 (1, 0),
 <Attendance>: 15 : 2023-10-04 10:17:26 (1, 0),
 <Attendance>: 19 : 2023-10-04 10:19:31 (1, 0),
 <Attendance>: 14 : 2023-10-04 10:28:27 (1, 0),
 <Attendance>: 16 : 2023-10-04 10:31:08 (1, 0),
 <Attendance>: 17 : 2023-10-04 11:58:43 (1, 0),
 <Attendance>: 20 : 2023-10-04 19:03:10 (1, 0),
 <Attendance>: 16 : 2023-10-04 19:21:31 (1, 1),
 <Attendance>: 21 : 2023-10-04 19:21:36 (1, 1),
 <Attendance>: 18 : 2023-10-04 19:21:42 (1, 1),
 <Attendance>: 14 : 2023-10-04 19:21:47 (1, 1),
 <Attendance>: 12 : 2023-10-04 19:24:46 (1, 1),
 <Attendance>: 11 : 2023-10-04 19:24:48 (1, 1),
 <Attendance>: 15 : 2023-10-04 20:13:52 (1, 1),
 <Attendance>: 17 : 2023-10-04 20:56:02 (15, 1),
 <Attendance>: 17 : 2023-10-05 09:45:28 (1, 0),
 <Attendance>: 20 : 2023-10-05 09:48:00 (1, 0),
 <Attendance>: 11 : 2023-10-05 09:54:16 (1, 0),
 <Attendance>: 18 : 2023-10-05 09:57:57 (1, 0),
 <Attendance>: 21 : 2023-10-05 10:00:32 (1, 0),
 <Attendance>: 12 : 2023-10-05 10:22:09 (1, 0),
 <Attendance>: 14 : 2023-10-05 10:28:53 (1, 0),
 <Attendance>: 16 : 2023-10-05 10:34:11 (1, 0),
 <Attendance>: 19 : 2023-10-05 10:41:54 (1, 0),
 <Attendance>: 1 : 2023-10-05 10:48:16 (1, 0),

In [75]:
import pandas as pd
df_attendances = pd.DataFrame(attendances)

In [76]:
df_attendances

                                                 0
0    <Attendance>: 1 : 2023-07-24 12:48:56 (15, 0)
1    <Attendance>: 1 : 2023-07-24 12:54:30 (15, 0)
2    <Attendance>: 1 : 2023-07-24 14:48:47 (15, 0)
3    <Attendance>: 1 : 2023-07-24 14:58:51 (15, 0)
4    <Attendance>: 1 : 2023-07-24 15:11:04 (15, 0)
..                                             ...
543  <Attendance>: 21 : 2023-10-13 10:28:57 (1, 0)
544  <Attendance>: 15 : 2023-10-13 10:32:36 (1, 0)
545   <Attendance>: 1 : 2023-10-13 11:10:34 (1, 0)
546  <Attendance>: 21 : 2023-10-13 13:07:37 (1, 0)
547  <Attendance>: 21 : 2023-10-13 13:08:38 (1, 0)

[548 rows x 1 columns]

In [77]:
import pandas as pd
import re

# For example, attendances = conn.get_attendance()

# Define regular expressions to extract information
attendance_pattern = r"<Attendance>: (\d+) : (\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}) \((\d+), (\d+)\)"

# Extract data and create a list of dictionaries
data = []

for attendance_string in attendances:
    # Convert the attendance object to a string
    attendance_string = str(attendance_string)
    
    attendance_match = re.search(attendance_pattern, attendance_string)

    if attendance_match:
        user_id = int(attendance_match.group(1))
        datetime_str = attendance_match.group(2)
        verify_state_id = int(attendance_match.group(3))
        punch_type_id = int(attendance_match.group(4))
        
        # Split the datetime string into date and time
        date, time = datetime_str.split(' ')

        data.append({
            "user_id": user_id,
            "punch_date":date,
        "punch_time":date + ' ' +time,
            "verify_state_id": verify_state_id,
            "punch_type_id": punch_type_id
        })

# Create a DataFrame from the list of dictionaries
df_attendance = pd.DataFrame(data)

# Display the DataFrame
print(df_attendance)

     user_id  punch_date           punch_time  verify_state_id  punch_type_id
0          1  2023-07-24  2023-07-24 12:48:56               15              0
1          1  2023-07-24  2023-07-24 12:54:30               15              0
2          1  2023-07-24  2023-07-24 14:48:47               15              0
3          1  2023-07-24  2023-07-24 14:58:51               15              0
4          1  2023-07-24  2023-07-24 15:11:04               15              0
..       ...         ...                  ...              ...            ...
543       21  2023-10-13  2023-10-13 10:28:57                1              0
544       15  2023-10-13  2023-10-13 10:32:36                1              0
545        1  2023-10-13  2023-10-13 11:10:34                1              0
546       21  2023-10-13  2023-10-13 13:07:37                1              0
547       21  2023-10-13  2023-10-13 13:08:38                1              0

[548 rows x 5 columns]

In [78]:
display(df_attendance)

     user_id  punch_date           punch_time  verify_state_id  punch_type_id
0          1  2023-07-24  2023-07-24 12:48:56               15              0
1          1  2023-07-24  2023-07-24 12:54:30               15              0
2          1  2023-07-24  2023-07-24 14:48:47               15              0
3          1  2023-07-24  2023-07-24 14:58:51               15              0
4          1  2023-07-24  2023-07-24 15:11:04               15              0
..       ...         ...                  ...              ...            ...
543       21  2023-10-13  2023-10-13 10:28:57                1              0
544       15  2023-10-13  2023-10-13 10:32:36                1              0
545        1  2023-10-13  2023-10-13 11:10:34                1              0
546       21  2023-10-13  2023-10-13 13:07:37                1              0
547       21  2023-10-13  2023-10-13 13:08:38                1              0

[548 rows x 5 columns]

In [79]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\ammar\anaconda3\lib\site-packages (1.1.0)

In [80]:
# Connect to MySQL
import pymysql
db = pymysql.connect(host='192.168.100.38', user='rd_user', password='Rd1234', database='public_ip_db_test')
cursor = db.cursor()

In [81]:
# Execute a query to get the list of tables
cursor.execute("SHOW TABLES")

32

In [82]:
# Fetch all the tables
tables = cursor.fetchall()

# Print the tables
for table in tables:
    print(table[0])

acl_rules
attendances
banking_details
banks
departments
designations
document_categories
document_informations
documents
employee_information
employee_mapping
employees
failed_jobs
finger_devices
migrations
model_has_permissions
model_has_roles
password_reset_tokens
password_resets
permissions
personal_access_tokens
response_codes
role_has_permissions
roles
setup_generate_joining_form
setup_master
setup_masterdetails
setup_offices
setup_punch_type
setup_screens
setup_verify_state
users

In [83]:
import pymysql
import pandas as pd

# Connect to MySQL
db = pymysql.connect(host='192.168.100.38', user='rd_user', password='Rd1234', database='public_ip_db_test')
cursor = db.cursor()

# Execute query to get data from employee_mapping table
cursor.execute("""SELECT em.`emp_id`, em.`office_id`,fd.`ip`, em.`emp_dev_id`, em.`emp_dev_uid`, e.`first_name`,e.`last_name`
FROM `employee_mapping` AS em 
JOIN `employees` AS e
ON em.`emp_id` = e.`id`
JOIN `finger_devices` AS fd
ON em.`office_id` = fd.`office_id`
WHERE fd.`public` = 1 """)

# Fetch all rows from the result set
employee_mapping_data = cursor.fetchall()

# Get the column names from the cursor description
column_names = [i[0] for i in cursor.description]

# Create a DataFrame from the fetched data
df_employee_mapping = pd.DataFrame(employee_mapping_data, columns=column_names)

# Display the DataFrame
df_employee_mapping

,emp_id,office_id,ip,emp_dev_id,emp_dev_uid,first_name,last_name
0,118,1,182.176.178.62,3.0,3.0,Danyal,Babar
1,120,1,182.176.178.62,11.0,3.0,Abdul,Raffey
2,121,1,182.176.178.62,12.0,4.0,Muhammad,Fahad
3,122,1,182.176.178.62,13.0,5.0,Muhammad,Shahid
4,123,1,182.176.178.62,14.0,6.0,Ammar,Khan
...,...,...,...,...,...,...,...
97,725,3,103.25.138.41,NaN,NaN,HR,.
98,726,1,182.176.178.62,18.0,10.0,Shahzad,Kareem
99,727,1,182.176.178.62,19.0,11.0,Ali,Arham
100,729,1,182.176.178.62,20.0,12.0,Muhammad Usama,Rajput
101,730,1,182.176.178.62,21.0,13.0,Imran,Riaz Chohan

In [84]:
# Connect to MySQL
db = pymysql.connect(host='192.168.100.38', user='rd_user', password='Rd1234', database='public_ip_db_test')
cursor = db.cursor()

# Execute query to get data from finger_devices table
cursor.execute("SELECT * FROM finger_devices")

# Fetch all rows from the result set
finger_devices_data = cursor.fetchall()

# Get the column names from the cursor description
column_names = [i[0] for i in cursor.description]

# Create a DataFrame from the fetched data
df_finger_devices = pd.DataFrame(finger_devices_data, columns=column_names)

# Display the DataFrame
df_finger_devices

,id,office_id,name,ip,serialNumber,public,created_at,updated_at,deleted_at
0,1,1,zktecho,192.168.100.7,ADZV224760232 ,0,2023-09-04 13:01:55,2023-09-04 13:01:55,None
1,2,2,zktecho-quantum-computing,,,0,2023-09-14 18:20:13,0000-00-00 00:00:00,None
2,3,3,zktecho-curve-digital,,,0,2023-09-14 18:20:13,0000-00-00 00:00:00,None
3,5,3,zktecho-curve-digital-public,103.25.138.41,,1,2023-09-14 18:20:13,0000-00-00 00:00:00,None
4,6,2,zktecho-quantum-computing-public,110.93.226.120,,1,2023-09-14 18:20:13,0000-00-00 00:00:00,None
5,7,1,zktecho-rocket-digital-public,182.176.178.62,ADZV224760232 ,1,2023-09-04 13:01:55,2023-09-04 13:01:55,None

In [85]:
# Connect to MySQL
db = pymysql.connect(host='192.168.100.38', user='rd_user', password='Rd1234', database='public_ip_db_test')
cursor = db.cursor()

# Execute query to get data from setup_punch_type table
cursor.execute("SELECT * FROM setup_punch_type")

# Fetch all rows from the result set
setup_punch_type_data = cursor.fetchall()

# Get the column names from the cursor description
column_names = [i[0] for i in cursor.description]

# Create a DataFrame from the fetched data
df_setup_punch_type = pd.DataFrame(setup_punch_type_data, columns=column_names)

# Display the DataFrame
print(df_setup_punch_type)

   id       name          created_at           updated_at
0   0   Check In 2023-09-04 15:12:08  0000-00-00 00:00:00
1   1  Check Out 2023-09-04 15:12:13  0000-00-00 00:00:00

In [86]:
# Connect to MySQL
db = pymysql.connect(host='192.168.100.38', user='rd_user', password='Rd1234', database='public_ip_db_test')
cursor = db.cursor()

# Execute query to get data from setup_verify_state table
cursor.execute("SELECT * FROM setup_verify_state")

# Fetch all rows from the result set
setup_verify_state_data = cursor.fetchall()

# Get the column names from the cursor description
column_names = [i[0] for i in cursor.description]

# Create a DataFrame from the fetched data
df_setup_verify_state = pd.DataFrame(setup_verify_state_data, columns=column_names)

# Display the DataFrame
print(df_setup_verify_state)

   id         name          created_at           updated_at
0   0          Any 2023-09-04 17:16:02  0000-00-00 00:00:00
1   1  Fingerprint 2023-09-04 17:16:57  0000-00-00 00:00:00
2  15         Face 2023-09-04 17:17:07  0000-00-00 00:00:00

In [87]:
import pandas as pd

# # Merging df_attendance with df_setup_verify_state
df_attendance_detail = pd.merge(df_attendance, df_setup_verify_state[['id', 'name']], left_on='verify_state_id', right_on='id', how='left')

# # Renaming the 'name' column from df_setup_verify_state to 'verify_state_name'
df_attendance_detail = df_attendance_detail.rename(columns={'name': 'verify_state_display'})


# # Dropping the duplicate 'id' column
df_attendance_detail = df_attendance_detail.drop(columns=['id'])

# # Merging df_attendance with df_setup_punch_type
df_attendance_detail = pd.merge(df_attendance_detail, df_setup_punch_type[['id','name']], left_on='punch_type_id', right_on='id', how='left')

# # Renaming the 'name' column from df_setup_punch_type to 'punch_type_name'
df_attendance_detail = df_attendance_detail.rename(columns={'name': 'punch_type_display'})

# # Dropping the duplicate 'id' column
df_attendance_detail = df_attendance_detail.drop(columns=['id'])

# # Print the resulting DataFrame
df_attendance_detail

,user_id,punch_date,punch_time,verify_state_id,punch_type_id,verify_state_display,punch_type_display
0,1,2023-07-24,2023-07-24 12:48:56,15,0,Face,Check In
1,1,2023-07-24,2023-07-24 12:54:30,15,0,Face,Check In
2,1,2023-07-24,2023-07-24 14:48:47,15,0,Face,Check In
3,1,2023-07-24,2023-07-24 14:58:51,15,0,Face,Check In
4,1,2023-07-24,2023-07-24 15:11:04,15,0,Face,Check In
...,...,...,...,...,...,...,...
543,21,2023-10-13,2023-10-13 10:28:57,1,0,Fingerprint,Check In
544,15,2023-10-13,2023-10-13 10:32:36,1,0,Fingerprint,Check In
545,1,2023-10-13,2023-10-13 11:10:34,1,0,Fingerprint,Check In
546,21,2023-10-13,2023-10-13 13:07:37,1,0,Fingerprint,Check In
547,21,2023-10-13,2023-10-13 13:08:38,1,0,Fingerprint,Check In

In [88]:
df_attendance_detail = pd.merge(df_attendance_detail, df_employee_mapping,left_on='user_id', right_on='emp_dev_id', how='left')
df_attendance_detail

,user_id,punch_date,punch_time,verify_state_id,punch_type_id,verify_state_display,punch_type_display,emp_id,office_id,ip,emp_dev_id,emp_dev_uid,first_name,last_name
0,1,2023-07-24,2023-07-24 12:48:56,15,0,Face,Check In,596,2,110.93.226.120,1.0,1.0,Hassan,Butt
1,1,2023-07-24,2023-07-24 12:48:56,15,0,Face,Check In,600,2,110.93.226.120,1.0,1.0,Muneeb,Jamshed
2,1,2023-07-24,2023-07-24 12:48:56,15,0,Face,Check In,626,3,103.25.138.41,1.0,1.0,TEST,TESTING
3,1,2023-07-24,2023-07-24 12:54:30,15,0,Face,Check In,596,2,110.93.226.120,1.0,1.0,Hassan,Butt
4,1,2023-07-24,2023-07-24 12:54:30,15,0,Face,Check In,600,2,110.93.226.120,1.0,1.0,Muneeb,Jamshed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540,1,2023-10-13,2023-10-13 11:10:34,1,0,Fingerprint,Check In,626,3,103.25.138.41,1.0,1.0,TEST,TESTING
1541,21,2023-10-13,2023-10-13 13:07:37,1,0,Fingerprint,Check In,639,3,103.25.138.41,21.0,18.0,Khawar,Zaib
1542,21,2023-10-13,2023-10-13 13:07:37,1,0,Fingerprint,Check In,730,1,182.176.178.62,21.0,13.0,Imran,Riaz Chohan
1543,21,2023-10-13,2023-10-13 13:08:38,1,0,Fingerprint,Check In,639,3,103.25.138.41,21.0,18.0,Khawar,Zaib
1544,21,2023-10-13,2023-10-13 13:08:38,1,0,Fingerprint,Check In,730,1,182.176.178.62,21.0,13.0,Imran,Riaz Chohan

In [89]:


# Check if zk_ip_address is in the df_attendance_detail dataframe
if zk_ip_address in df_attendance_detail['ip'].unique():
    # Get the corresponding office_id
    office_id = df_attendance_detail[df_attendance_detail['ip'] == zk_ip_address]['office_id'].values[0]
    print(f"The office_id for ZKTeco IP address {zk_ip_address} is {office_id}")
else:
    print(f"No matching record found for ZKTeco IP address {zk_ip_address}")

The office_id for ZKTeco IP address 182.176.178.62 is 1

In [90]:
import pymysql
from datetime import datetime

# Connect to MySQL
db = pymysql.connect(host='192.168.100.38', user='rd_user', password='Rd1234', database='public_ip_db_test')
cursor = db.cursor()

# Step 1: Extract data for the specific office_id
office_id = office_id  # Replace with the extracted office_id
data_to_insert = df_attendance_detail[df_attendance_detail['office_id'] == office_id]

# Step 2: Prepare data for insertion
for index, row in data_to_insert.iterrows():
    # Extract values from the row
    office_id = row['office_id']
    uid = row['emp_dev_uid']
    emp_id = row['emp_id']
    first_name = row['first_name']
    last_name = row['last_name']
    punch_date = row['punch_date']
    punch_time = row['punch_time']
    punch_type_id = row['punch_type_id']
    punch_type_display = row['punch_type_display']
    verify_state_id = row['verify_state_id']
    verify_state_display = row['verify_state_display']

    # Generate current datetime for upload_time, created_at, updated_at
    current_datetime = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

    # Define the SQL query to check for duplicates
    check_duplicate_sql = f"SELECT COUNT(*) FROM attendances WHERE emp_id = {emp_id} AND punch_date = '{punch_date}' AND punch_time = '{punch_time}'"

    try:
        # Execute the SQL query to check for duplicates
        cursor.execute(check_duplicate_sql)
        if cursor.fetchone()[0] == 0:  # If no duplicate is found
            # Define the SQL query for insertion
            insert_sql = f"""
                INSERT INTO attendances (office_id, uid, emp_id, first_name, last_name, punch_date, punch_time, punch_type_id, punch_type_display, verify_state_id, verify_state_display, upload_time, created_at, updated_at, email)
                VALUES ({office_id}, '{uid}', {emp_id}, '{first_name}', '{last_name}', '{punch_date}', '{punch_time}', {punch_type_id}, '{punch_type_display}', {verify_state_id}, '{verify_state_display}', '{current_datetime}', '{current_datetime}', '{current_datetime}', NULL)
            """
            
            # Execute the SQL query for insertion
            cursor.execute(insert_sql)
            # Commit changes to the database
            db.commit()
            print(f"Inserted data for emp_id {emp_id}")
        else:
            print(f"Data for emp_id {emp_id} already exists, skipping insertion.")
    except Exception as e:
        # Rollback if an error occurs
        db.rollback()
        print(f"Error inserting data for emp_id {emp_id}: {e}")

# Step 3: Close the connection
db.close()

Data for emp_id 119 already exists, skipping insertion.
Data for emp_id 215 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 122 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 122 already exists, skipping insertion.
Data for emp_id 122 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 122 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 122 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 122 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.

Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 122 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 122 already exists, skipping insertion.
Data for emp_id 122 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 729 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 729 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 729 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 729 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 729 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 729 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 729 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 729 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 729 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 729 already exists, skipping insertion.

Inserted data for emp_id 730
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 729 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 122 already exists, skipping insertion.
Data for emp_id 122 already exists, skipping insertion.
Data for emp_id 729 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 729 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 122 already exists, skipping insertion.
Data for emp_id 122 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 729 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 729 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 124 already exists, skipping insertion.
Data for emp_id 122 already exists, skipping insertion.
Data for emp_id 729 already exists, skipping insertion.
Data for emp_id 726 already exists, skipping insertion.
Data for emp_id 126 already exists, skipping insertion.
Data for emp_id 120 already exists, skipping insertion.
Data for emp_id 125 already exists, skipping insertion.
Data for emp_id 727 already exists, skipping insertion.
Data for emp_id 123 already exists, skipping insertion.
Data for emp_id 121 already exists, skipping insertion.
Inserted data for emp_id 730
Data for emp_id 124 already exists, skipping insertion.
Inserted data for emp_id 730
Inserted data for emp_id 730